<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>PAL BOOKSTORE</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container text-center">
    <br>
       <div><h1><b><u>Welcome to PAL BOOKSTORE</u></b></h1></div> <br>
       <div>
       	<h3><a th:href="@{/users}">List of All Users</a></h3>
        <h3><a th:href="@{/register}">Register Here</a></h3>
        <h3><a th:href="@{/login}">Login</a></h3>
        </div>
        

    </div>
     
</body>
</html>